body {
  font-family: 'Nunito', sans-serif;
  color: #283034;
}

#header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 75px;
    border-bottom: 2px solid #283034;
    top: 0px;
    left: 0px;

    padding-left: 10px;

    background-color: #e9e9e9;

    z-index: 900;
}

.headerTitles {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #283034;
    text-decoration: none;
}

.bodyText {
  margin-left: 3vw;
  margin-right: 3vw;
  line-height: 30px;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 .mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f1f1f1;
  color: #283034;
}

.prev {
  left: -41px;
}

/* Position the "next button" to the right */
.next {
  right: -42px;
  border-radius: 3px 0 0 3px;
}


 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: #e9e9e9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: medium;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #e9e9e9;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
} 

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
